<ion-header>
    <ion-navbar>
      <ion-title class="rtl">{{title}}</ion-title>
      <ion-buttons right>
        <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-menu  class="rtl" [content]="mycontent" side="right">
    <ion-content>
        <button *ngFor= 'let p of pages'  (click)="checkPage(p.class_name)">
            {{p.title}}
            </button>  
    </ion-content>
  </ion-menu>
  <ion-nav #mycontent></ion-nav>

