page-flightinfo {
    form{
        position:relative;
        top:50px;
        
    }
    .flightnumitem{
        .item-inner{
            position: relative;
            right: -12px;
        }
    }
}
