<ion-header class="rtl">
  <ion-navbar>
    <ion-title>הרשמה</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <form class="rtl" [formGroup]="signupForm" (ngSubmit)="signupUser()">
      <ion-item>
        <ion-label floating primary>אימייל</ion-label>
        <ion-input [(ngModel)]="userInfo.email" formControlName="email" type="email" id="email"> </ion-input>
      </ion-item>
      <p class="invalid" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty" danger padding-left>כתובת מייל אינה תקינה</p>
      <ion-item>
        <ion-label floating primary>שם פרטי</ion-label>
        <ion-input [(ngModel)]="userInfo.first_name" formControlName="first_name" type="text" id="first_name" spellcheck="false"
          autocapitalize="on">
        </ion-input>
      </ion-item>
      <p class="invalid" *ngIf="!signupForm.controls.first_name.valid && signupForm.controls.first_name.dirty" danger padding-left>רק אותיות, אורך מינימלי:2</p>
      <ion-item>
        <ion-label floating primary>שם משפחה</ion-label>
        <ion-input [(ngModel)]="userInfo.last_name" formControlName="last_name" type="text" id="last_name" spellcheck="false" autocapitalize="on">
        </ion-input>
      </ion-item>
      <p  class="invalid" *ngIf="!signupForm.controls.last_name.valid && signupForm.controls.last_name.dirty" danger padding-left>רק אותיות, אורך מינימלי:2</p>

      <ion-item>
        <ion-label floating primary>פלאפון</ion-label>
        <ion-input [(ngModel)]="userInfo.phone" formControlName="phone" type="text" id="phone">
        </ion-input>
      </ion-item>
      <p class="invalid" *ngIf="!signupForm.controls.phone.valid && signupForm.controls.phone.dirty" danger padding-left>מספר פלאפון אינו תקין</p>
      <ion-item>
        <ion-label stacked>סיסמה</ion-label>
        <ion-input [(ngModel)]="userInfo.pass" formControlName="password" type="password" placeholder="סיסמה"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
        <p>סיסמתך חייבת להכיל לפחות 6 תווים</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>אימות סיסמה</ion-label>
        <ion-input formControlName="confirmPassword" type="password" placeholder="סיסמה"></ion-input>
      </ion-item>
        <p class="invalid" *ngIf="signupForm.controls['confirmPassword'].hasError('notEquivalent')&&signupForm.controls['confirmPassword'].dirty" danger padding-left>הסיסמאות אינן זהות.</p>
      <button  ion-button round outline type="submit" round primary [disabled]="!signupForm.valid">שלח טופס</button>
    </form>
  </ion-list>
</ion-content>