<ion-header class="rtl">
  <ion-navbar>
    <ion-title>מסלולים מוצעים</ion-title>
  </ion-navbar>
  <ion-content class="rtl" padding>
    <button *ngIf= "has_cancel_button"  (click)="cancelOrder()" ion-button round outline>{{ button_cancel_order}}</button>
    <ng-container *ngFor="let order of orders; index as i ">
      <ul>
        <li>סוג נסיעה: {{order.type}}</li>
        <li>מחיר: {{order.cost}}</li>
        <li>מועד האיסוף: {{order.pickUp_time}}</li>
        <li>מספר נוסעים: {{order.total_pessengers}}</li>
        <li>מועד הגעה:{{order.arrival_time}}</li>
      </ul>
      <button type="button" (click)="UpdateServer(order.pathid,i)" ion-button round outline>{{buttons[i].text}}</button>
    </ng-container>
  </ion-content>
</ion-header>